.action.svelte-1qr8orj{justify-content:space-between;align-items:center;gap:2rem;padding-top:2.5rem;display:flex}@media (width<=600px){.action.svelte-1qr8orj{flex-direction:column;align-items:start}}
